@font-face {
    font-family: "in-reg";
    src: url("../Resources/Inconsolata/Inconsolata-Regular.ttf");
}

body {
    font-family: in-reg, "Courier New";
    color: white;
    background: linear-gradient(to top, lightblue, black);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main div {
    width: 80%;
    text-align: center;
    margin-bottom: 50px;
}

li a:link { color: red; } /* unvisited link */
li a:visited { color: green; } /* visited link */
li a:hover { color: hotpink; } /* mouse over link */
li a:active { color: blue; } /* selected link */
li p { font-size: 25px }

img { width: 300px; cursor: pointer }

h1 { font-size: 72px; }
h2 { font-size: 42px; }
h3 { font-size: 32px; }
h1, h2, h3 { text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

ul { list-style-type: none; }

h3 a {
    text-decoration: none;
    color: white;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}